@font-face {
    font-family: 'vazir';
    src: url(../assets/fonts/Vazir-Medium.woff);
}
@font-face {
    font-family: 'yekan';
    src: url(../assets/fonts/Yekan.woff);
}

@font-face {
    font-family: 'shabnam';
    src: url(../assets/fonts/Shabnam-Bold.woff);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-container {
    @apply relative text-white/60 text-xl cursor-pointer;
}
.btn-title{
    @apply bg-black text-white text-sm font-vazir z-10 px-1.5 py-[0.3px] rounded relative;
}
.btn-label{
    @apply w-2 h-2 bg-black block absolute -bottom-1 -z-10 rotate-45 right-[14px];
}

.profile-img{
    background: linear-gradient(rgba(7,52,177,0.2),rgba(15, 3, 231, 0.9)), url(../assets/img/rahimi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.active{
    @apply text-white;
}